body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(45, 44, 44, 0.9);
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
}

.navbar {
  background-color: white;
  padding: 16px;
  width: 30%;
  border: 2px solid grey;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  color: black;
}

.menu {
  display: none;
  background-color: rgba(45, 44, 44, 0.9);
  position: fixed;
  color: white;
  line-height: 1rem;
  top: 110px;
  margin: 1rem;
  padding: 2rem;
  transition: 2s;
  cursor: pointer;
}

.menu-category:hover {
  color: yellow;
  font-size: 1.5rem;
}

.show-menu {
  display: block;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(46, 4, 35, 0.9607843137);
  width: 80%;
  height: 600px;
  margin: 200px auto 0;
  border-radius: 16px;
  line-height: 3rem;
}

.card img {
  border-radius: 16px;
  width: 80%;
  margin-top: 1rem;
  height: 50%;
}

.card-title {
  cursor: pointer;
  text-align: center;
  width: 80%;
  margin-top: 2rem;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 16px;
  color: white;
  font-size: 0.8rem;
}

.card-price {
  color: white;
  font-size: 1rem;
}

.card button {
  padding: 0.2rem;
  border-radius: 8px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cat-title {
  color: white;
  font-weight: 700;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  border: 15px solid rgba(46, 4, 35, 0.9607843137);
  border-radius: 32px;
  margin: 150px auto;
  height: 60vh;
  gap: 2rem;
}

.selected-cart-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 0.5rem;
  height: 90%;
  width: 50%;
}

.selected-item-image {
  width: 200px;
  height: 200px;
}

.selected-item-price {
  font-size: 1.5rem;
  font-weight: 550;
  color: rgba(46, 4, 35, 0.9607843137);
}

.selected-cart-right {
  color: red;
  margin-right: 1rem;
}

.selected-item-title {
  color: rgba(46, 4, 35, 0.9607843137);
  font-size: 1.1rem;
}

.selected-item-desc {
  color: rgba(45, 44, 44, 0.9);
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0;
}

.selected-item-rate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: rgba(45, 44, 44, 0.9);
  font-size: 0.5rem;
  font-weight: 900;
  width: 30%;
  margin: 2rem 0;
}

.selected-item-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-item-button-basket {
  padding: 1.5rem;
  border: 5px solid rgba(46, 4, 35, 0.9607843137);
}

.footer {
  background-color: rgba(45, 44, 44, 0.9);
  margin-top: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 2rem;
}/*# sourceMappingURL=main.css.map */