.header {
  padding: 3%;
  @include displayFlex(space-between, center);
  background-color: $bg--primary;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
}

.navbar {
  background-color: white;
  padding: 16px;
  width: 30%;
  border: 2px solid grey;
  border-radius: 16px;
  @include displayFlex(space-between, center)
}

.header a {
  color: $font-color;
  color: black;
}

// .menu-category {
//   background-color: black;
//   height: 200px;
//   width: 500px;
//   padding: 2rem;
//   color: white;
//   // height: 500px;
//   top: 100px;
//   left: 0;
//   z-index: 5000;
//   position: fixed;
// }

.menu {
  display: none;
  background-color: $bg--primary;
  position: fixed;
  color: $font-color;
  line-height: 1rem;
  top: 110px;
  margin: 1rem;
  padding: 2rem;
  transition: 2s;
  cursor: pointer;
}

.menu-category:hover {
  color: yellow;
  font-size: 1.5rem;
}

.show-menu {
  display: block;
}


@media screen and (min-width: 768px) {
  .header {
    background-color: $bg--primary;
    height: 100px;
  };
};